@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wdth,wght@75..100,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

:root {
    --primary-color: #4f454a; /* Dark sunset pink */
    --lighter-primary-color: #7a6871;
    --secondary-color: #683f4f; /* Slightly lighter sunset pink for accents */
    --background-color: #1e191e; /* Dark sunset pink */
    --darker-background-color: #100d10; 
    --lighter-background-color: #302730;
    --text-color: #f0f0f0; /* White */
    --font-family: 'Roboto', 'Arial', sans-serif;
    --nav-banner-color: #242628; /* Slate grey for top nav banner */
    --main-font: ;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;

}

/* Universal h2 style */
h2 {
    font-size: 2rem; /* Slightly smaller than h1 */
    color: #ffffff; /* White color */
    text-transform: uppercase; /* Match the style of h1 */
    letter-spacing: 1.5px; /* Slightly less spacing than h1 */
    margin-bottom: 1rem; /* Add spacing below the h2 */
    font-weight: 700px; /* Ensure bold text */
    padding-top: 1rem; /* Add space above the h2 */
}


/* Footer */
#footer {
    background-color: #141014;
    color: var(--text-color);
    padding: 20px;
    bottom: 0;
    width: 100%;
    position: relative; /* Ensure footer stays at the bottom */
}

.footer-content {
    font-size: 12px;
    text-align: right;
}

@media screen and (max-width: 768px) {
    #footer {
        padding: 15px; /* Center text on smaller screens */
        padding-bottom: 13px;
    }

    .footer-content {
        font-size: 9px;
    }
}